
/* got this from coolors.co - please improve!
 https://coolors.co/b5d6b2-53131e-5a464c-fffacc-ffefbd
*/

body
{
	font-family: Georgia;
	color: #04039A ;
	background-color: #d0c080;
	margin-left: 60px;
	margin-right: 60px;
	line-height: 23px;
	}

header, footer
{
	text-align: center;
}

button
{
	text-align: center;
	color: white;
	font-weight: bold;
	width: 60px;
	background-color: black;
}

button:hover
{
	background-color: yellow;
	color: black;
}


h1, h2
{
	font-family: Cochin, serif, Georgia, Cochin;
	text-align: center;
	line-height: 20px;
}


h3
{
	font-family: Cochin, serif, Georgia, Cochin;
	text-align: left;
	line-height: 20px;
}

form
{
	font-family: serif;
	background-color: white;
	font-weight: bold;
	font-size: 25px;
	line-height: 50px;
	text-decoration: underline;
	color: brown;
	border: 3px solid black;
}

#submit
{
	background-color: black;
	color: white;
}

#submit:hover
{
	background-color: yellow;
	color: black;
}



a
{
	text-decoration: none;
	color: black;
	font-weight: bold;
}

a:hover
{
	text-decoration: underline;
	color: yellow;
}

figure
{
	text-align: center;
}

figcaption
{
	font-style: italic;
}

nav
{
	text-align: center;
}

		body
		{
			width: 750px;
			margin: 0 auto;
		}
		
		table
		{
			border-collapse: collapse;
			
			margin: 20px;
		}
		
		thead
		{
			background-color: #00AAFF;
		}
		
		th, td
		{
			border: 1px solid black;
			padding: .2em 1em .2em .5em;
			text-align: left;
			vertical-align: middle;
		}
		
		.right
		{
			text-align: right;
		}
		
		tbody tr:nth-child(odd) td
		{
			background-color: #00EEFF;
		}
		
		tbody tr:nth-child(even) td
		{
			background-color: white;
		}

.calculator__display
{
	width: 215px;
	background-color: white;
	color: black;
	border: 1px solid black;
	background-size: 100px 1px;
}
.calculator__display:hover
{
	width: 215px;
	background-color: white;
	color: black;
	border: 1px solid black;
	background-size: 100px 1px;
}

.key--operator
{
	background-color: cyan;
	color: black;
}

.key--equal
{
	background-color: orange;
	color: black;
}

p
{
	font-weight:normal;
	color: black;
}
ul, ol
{
	font-weight:normal;
	color: black;
}

.container
{
	width:540px;
	margin: 40px auto;
	overflow:auto;
}

.slider-inner
{
	width: 500px;
	height: 300px;
	position:relative;
	overflow: hidden;
	float: left;
	padding: 3px;
	border: #666 solid 1px;
}

.slider-inner img
{
	display:none;
	width:500px;
	height:300px;
}

.slider-inner img.active
{
	display:inline-block;
}

.prev, .next
{
	float:left;
	margin-top: 130px;
	cursor: pointer;
}

.prev
{
	position: relative;
	margin-right:-45px;
	z-index:100;
}

.next
{
	position: relative;
	margin-left:-45px;
	z-index:100;
}
