
/* got this from coolors.co - please improve!
 https://coolors.co/b5d6b2-53131e-5a464c-fffacc-ffefbd
*/

body
{
	font-family: Georgia;
	color: #080AAA ;
	background-color: #CC9011;
	margin-left: 60px;
	margin-right: 60px;
	}

header, footer
{
	text-align: center;
}

h1, h2
{
	font-family: Cochin, serif, Georgia, Cochin;
	text-align: center;
	line-height: 20px;
}


h3
{
	font-family: Cochin, serif, Georgia, Cochin;
	text-align: left;
	line-height: 20px;
}

form
{
	font-family: serif;
	background-color: white;
	font-weight: bold;
	font-size: 25px;
	line-height: 50px;
	text-decoration: underline;
	color: brown;
	border: 3px solid black;
}

#submit
{
	background-color: black;
	color: white;
}

#submit:hover
{
	background-color: yellow;
	color: black;
}



a
{
	text-decoration: none;
	color: black;
	font-weight: bold;
}

a:hover
{
	text-decoration: underline;
	color: yellow;
}

figure
{
	text-align: center;
}

figcaption
{
	font-style: italic;
}

nav
{
	text-align: center;
}

		body
		{
			width: 750px;
			margin: 0 auto;
		}
		
		table
		{
			border-collapse: collapse;
			
			margin: 20px;
		}
		
		thead
		{
			background-color: #00AAFF;
		}
		
		th, td
		{
			border: 1px solid black;
			padding: .2em 1em .2em .5em;
			text-align: left;
			vertical-align: middle;
		}
		
		.right
		{
			text-align: right;
		}
		
		tbody tr:nth-child(odd) td
		{
			background-color: #00EEFF;
		}
		
		tbody tr:nth-child(even) td
		{
			background-color: white;
		}
