		<p>
			Page built by Jolly Pegasus Corporation, Ltd. 2021
		</p>
		<a href="https://validator.w3.org/nu/?doc=https%3A%2F%2FJustinPatterson319.github.io%2Fitis3135%2Fbrand-jolly-pegasus.html">
			<button class="validate" src="images/button-valid-html5.gif" width="88" height="31" alt="Link to HTML validator">HTML</button>
		</a>

		<a href="https://jigsaw.w3.org/css-validator/validator?uri=https%3A%2F%2Fjustinpatterson319.github.io%2Fitis3135%2Fbrand-jolly-pegasus.html&profile=css3svg&usermedium=all&warning=1&vextwarning=&lang=en">
			<button class="validate" src="images/button-valid-css.gif" width="88" height="31" alt="Link to CSS validator">CSS</button>
		</a>
