header
{
	font-size: 25px;
	background-color: #333333;
	padding: 1px;
	padding-left: 15px;
	color: yellow;
	font-family: Georgia;
	border: solid 4px black;
}

.symbol
{
	float: left;
}

h2
{
	font-size: 34px;
	background-color: #cccc00;
	padding: 10px;
	color: #333333;
	font-family: Georgia;
	margin-top: 0px;
	border: solid 3px black;
	padding-left: 15px;
}

body
{
	background-color: #ccaa11;
	padding:0;
    	margin:0;
    	border: solid 3px black;
}

.bar
{
	background-color: #111111;
	color: white;
	padding: 15px;
	padding-left: 0px;
	padding-right: 0px;
	border: solid 3px black;
	font-family: Fantasy;
	white-space: nowrap;  	
	}

.navBar:hover {
  background-color: black;
  padding: 15px;
  padding-left: 25px;
  padding-right: 25px;
}

.navBar
{
	padding: 13px;
	padding-left: 20px;
	padding-right: 20px;
	border: solid 1px yellow;
	color: yellow;
	white-space: nowrap;
}

a:visited
{
	color: yellow;
}

footer
{
	text-align: center;
	font-size: 14px;
	background-color: #333333;
	padding: 25px;
	padding-left: 5px;
	color: yellow;
	font-family: Georgia;
	border: solid 4px black;
	white-space: nowrap;
}

.foot
{
	padding: 8px;
}

.logo
{
	margin-top: -28px;
	display: block;
	margin-left: auto;
 	margin-right: auto;
}

p
{
	margin-top: -10px;
	padding-left: 20px;
	font-size: 25px;
}

h3
{
	font-size: 28px;
	padding: 10px;
	color: #333333;
	font-family: Georgia;
	margin-top: 0px;
	padding-left: 15px;
}

.intro
{
	text-align: center;
	display: block;
	  margin-left: auto;
	  margin-right: auto;
	  font-size: 30px;
}

.news
{
		text-align: center;
	display: block;
	  margin-left: auto;
	  margin-right: auto;
	  font-size: 30px;
}

.survey
{
	float: right;
	border: solid 4px black;
	padding: 10px;
	margin-right: 10px;
	background-color: #cccc00;
}

.fashion
{
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	font-size: 30px;
}

.team
{
	margin-left: auto;
	margin-right: auto;
	font-size: 40px;
	background-color: purple;
	border: solid 4px black;
	padding: 5px;
	color: white;
}

.teamname
{
	font-size: 50px;
	text-align: center;
}

hr
{
	border-color: black;
}


ol
{
	font-size: 23px;
	font-weight: bold;
}

ul
{
	font-weight: normal;
	font-size: 19px;
}

.question
{
	border: solid 4px black;
	padding: 10px;
	margin-right: 10px;
	background-color: #cccc00;
	font-size: 25px;
}